@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #e7e7e7;
}

.navbarbackground {
    color: white;
    background-color: rgb(181, 41, 2);
}

h1 {
    font-size: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0;
}



.navbar {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.element {
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}



.navbar2 {
    color: black;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.element2 {
    float: left;
    text-align: center;
    border-right-style: solid;
    border-right-color: #ababab;
}

.link {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    text-decoration: none;

}

a.link:hover {
    background-color: #dadada;
}

/*highlights the page we are on now*/
#current {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: red;
}




.storyblock1 {
    float: left;
    width: 35%;
    margin-top: 10px;
    padding: 10px;
}

.MainStory {
    overflow: hidden;
    font-size: 12px;
}

/*how much of the content box i want the image to occupy*/
.MainStory img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 70%
}




.storyblock2 {
    float: left;
    margin-top: 10px;
    padding: 10px;
    width: 45%;
}

.firstrow {
    display: flex;
}

.secondrow {
    display: flex;
}

.secondaryStory {
    display: inline;
    overflow: hidden;
    align-items: center;
    font-size: 8px;
    padding-right: 20px;
    width: 30%;
}

.secondaryStory img {
    width: 100%;
}






.secondsection {
    display: flex;
    width: 100%;
}

.tertiaryStory {
    display: inline;
    width: 15%;
    padding: 10px;
    font-size: 12px;

}

.tertiaryStory img {
    width: 100%;
}